name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CLUSTER_NAME: EKS-QUICK-SERVE
  AWS_REGION: us-east-1

jobs:
  build-docker-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'adoptium'  # Pode ser 'adoptium', 'zulu', 'amazon', ou 'oracle'
        java-version: '17'

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build Docker Image
      run: |
        mvn clean package -DskipTests
        IMAGE_NAME=quick-serve-api-pedido:1.0
        docker build -t $IMAGE_NAME .
        echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

    - name: Push Docker Image to Docker Hub
      run: |
        docker tag $IMAGE_NAME ${{ secrets.DOCKER_HUB_USERNAME }}/$IMAGE_NAME
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/$IMAGE_NAME


  # check-cluster:
  #   runs-on: ubuntu-latest
  #   needs: build-docker-image

  #   steps:
  #   - name: Configure AWS credentials
  #     uses: aws-actions/configure-aws-credentials@v3
  #     with:
  #       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #       aws-region: ${{env.AWS_REGION}}
  #       aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}

  #   - name: Check if EKS Cluster Exists
  #     id: check-cluster
  #     run: |
  #       if aws eks describe-cluster --name $CLUSTER_NAME --region $AWS_REGION > /dev/null 2>&1; then
  #         echo "Cluster exists."
  #         echo "cluster_exists=true" >> $GITHUB_ENV
  #       else
  #         echo "Cluster does not exist."
  #         echo "cluster_exists=false" >> $GITHUB_ENV

  # build-and-deploy:
  #   runs-on: ubuntu-latest
  #   needs: check-cluster

  #   steps:
  #   - uses: actions/checkout@v4

  #   - name: Install kubectl
  #     uses: azure/setup-kubectl@v2.0
  #     with:
  #       version: 'v1.30.2' 
  #     id: install

  #   - name: Configure AWS credentials
  #     uses: aws-actions/configure-aws-credentials@v3
  #     with:
  #       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #       aws-region: ${{env.AWS_REGION}}
  #       aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}

  #   - name: Update kube config
  #     run: aws eks update-kubeconfig --name $CLUSTER_NAME --region $AWS_REGION

  #   - name: Apply Kubernetes configuration
  #     run: |
  #         kubectl apply -f pods/svc-quick-serve-api.yaml
  #         kubectl apply -f pods/configmap-quick-serve-api.yaml
  #         kubectl apply -f pods/configmap-quick-serve-db.yaml
  #         kubectl apply -f pods/secret-quick-serve-api.yaml
  #         kubectl apply -f pods/secret-quick-serve-db.yaml
  #         kubectl apply -f pods/quick-serve-api.yaml
  #         kubectl apply -f pods/svc-quick-serve-api.yaml

  #   - name: Verify Deployment
  #     run: |
  #       kubectl get pods,svc,configmaps,secrets,deployments,pv,pvc,hpa
